<!DOCTYPE html>
<html>
    <head>
       <title> Ether Wallet</title>
    </head>
    <body>
      <form action="/submit" method="POST" >
          <label for="publicKey">Public Key: </label>
          <input type="text" name="publicKey" id="publicKey" placeholder="HASH"><br>
          <label for="publicKey">Private Key: </label>
          <input type="text" name="privateKey" id="privateKey" placeholder="HASH"><br>
          <input type="submit" value="login">
      </form>
      <div class="container-1">{{data}}</div>
    </body>
</html>